<h1>Formualario para añadir un nuevo contenedor en la aplicacion</h1>
<form method="post">
    <label>Nombre del Contenedor</label>
    <input type="text" name="containername" class="form-control" />
    <button class=" btn btn-dark">Crear Contenedor</button>
</form>
