@if(Context.User.Identity.IsAuthenticated){
    <li class="nav-item">
        <a class="nav-link text-black" asp-controller="VideoJuegos" asp-action="Index">VideoJuegos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-black" asp-controller="VideoJuegos" asp-action="Perfil">Perfil @Context.User.Identity.Name</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link text-black" asp-controller="Managed" asp-action="LogOut">LogOut @Context.User.Identity.Name</a>
    </li>
}else{
    <li class="nav-item">
        <a class="nav-link text-black" asp-controller="VideoJuegos" asp-action="Index">LogIn @Context.User.Identity.Name</a>
    </li>
}